# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase cache & config
.firebase/

# Firebase debug logs
firebase-debug.log*
firebase-debug.*.log*

# Local emulators state
firebase-debug.json
storage-debug.log

# Build outputs (adjust for your framework)
build/
dist/
functions/lib/
functions/node_modules/

# Node dependencies
node_modules/

# Environment files
.env
.env.*.local
.env.development
.env.production

bash.exe.stackdump
# Jest coverage
coverage/
.dev.vars
